<!DOCTYPE html>

<html lang="en">
<head>
  <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css"/>
  <meta charset="utf-8"/>
  <title>Backbone tutorial Blogroll App</title>
</head>
<body>
  <div class="container">
    <h1>Backbone Tutorial Blogroll App</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Author</th>
          <th>Title</th>
          <th>URL</th>
          <th>Action</th>
        </tr>
        <tr>
          <td><input class="form-control author-input"/></td>
          <td><input class="form-control title-input"/></td>
          <td><input class="form-control url-input"/></td>
          <td><button class="btn btn-primary add-blog">Add</button></td>
        </tr>
      </thead>
      <tbody id='blogs-list'>
      </tbody>
    </table>
  </div>
  <script type="text/template" id="blogs-list-template">
    <td><span class="author"><%= author %></span></td>
    <td><span class="title"><%= title %></span></td>
    <td><span class="url"><%= url %></span></td>
    <td>
      <button class="btn btn-warning edit-blog">Edit</button>
      <button class="btn btn-success update-blog" style="display:none">Update</button>
      <button class="btn btn-danger delete-blog">Delete</button>
      <button class="btn btn-danger cancel-blog" style="display:none">Cancel</button>
    </td>
  </script>
</body>

<script src="./node_modules/jquery/dist/jquery.min.js"></script>
<script src="./node_modules/underscore/underscore-min.js"></script>
<script src="./node_modules/backbone/backbone-min.js"></script>
<script src="scripts.js"></script>
</html>
